<div class="nk-sidebar-menu">
  <ul class="nk-menu">
    <li class="nk-menu-heading">
      <h6 class="overline-title">Menu</h6>
    </li>
    <li class="nk-menu-item" routerLinkActive="active current-page">
      <a routerLink="/wallets" class="nk-menu-link" (click)="close()">
        <span class="nk-menu-icon"><em class="icon ni ni-wallet"></em></span>
        <span class="nk-menu-text">Wallets</span>
      </a>
    </li>

    <li class="nk-menu-item" routerLinkActive="active current-page">
      <a routerLink="/transactions" class="nk-menu-link" (click)="close()">
        <span class="nk-menu-icon"><em class="icon ni ni-repeat"></em></span>
        <span class="nk-menu-text">Transactions</span>
      </a>
    </li>
  </ul>
</div>