node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
package-lock.json
test
proxy
.idea
public
vue.config.js
babel.config.js
.eslintignore.js
.eslintrc.js
.editorconfig
.prettierrc
ecosystem.json
nodemon-debug.json
nodemon.json
tsconfig.build.json
tsconfig.json
tslint.json
src
e2e
deploy
.vscode
.jsbeautifyrc
.prettierignore
angular.json
browserslist
build.sh
config.proxy.json
karma.conf.js
package.json
prettier.config.js
protractor.conf.js
README.md
version.js
