<a href="javascript:void(0)" class="btn btn-trigger btn-icon btn-close" (click)="close()">
  <cs-nioicon ic="cross"></cs-nioicon>
</a>

<h5 mat-dialog-title>Enviar {{data.product?.name}}</h5>

<div mat-dialog-content>
  <form [formGroup]="formSend.form">
    <cs-input label="Enviar a" placeholder="Introduzca la direccion {{data.product?.symbol}}" type="text" formControlName="addressTo" [errors]="formSend.addressTo"></cs-input>

    <cs-input label="Cantida de {{data.product?.symbol}}" type="number" formControlName="quantity" [errors]="formSend.quantityError"></cs-input>
  </form>
</div><!-- .modal-body -->

<mat-dialog-actions align="end">
  <ul class="align-center flex-wrap flex-sm-nowrap gx-2 gy-2">
    <li>
      <button class="btn btn-light btn-block" [disabled]="loading" (click)="close()">Cancelar</button>
    </li>
    <li>
      <button class="btn btn-primary btn-block" [disabled]="formSend.form.invalid || loading"
        (click)="save()">Guardar</button>
    </li>
  </ul>
</mat-dialog-actions>