/*Enviroment Vars*/

$border-radius: 4px;
$primary-color: #0fac81;
$accent-color: #798bff;
$warn-color: #f4bd0e;

$color-green-1: #174936;
$color-title: #364a63;
$color-text: #526484;
$color-text-gray: #8094ae;
$color-text-light: #e5e9f2;
$color-text-above-green: #abe2d3;
