:host {
  width: 100%;
  display: inline-block;

  .form-group {
    position: relative;
    margin-bottom: 1.25rem;
  }
  .passcode-switch {
    top: 2px;
    transform: none;
  }

  .invalid {
    margin-top: 2px;
  }
}
